body {
  margin: 0;
  padding: 0;
}

.footer-container {
  margin-top: 4rem;
}

.image-slide {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  border-radius: 8px;

  @include medium {
    grid-template-columns: 1fr 1fr;
  }
}

.image-item {
  display: none;
  @include medium {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

.product-text {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.product-detail {
  > .title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  > .sub-title {
    display: flex;
    > .price {
      font-size: 1rem;
      font-weight: 600;
      margin-right: 1rem;
    }
  }
  > .detail {
    font-size: 15px;
    margin-top: 2rem;
    &.-first {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid gainsboro;
    }
    &.-last {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid gainsboro;
    }
  }

  @include medium {
    max-width: 60%;
  }
}

.google-maps {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  > .map {
    width: 100%;
    height: 400px;
  }
  > .title {
    padding-bottom: 0.5rem;
  }
}

.nearby-places {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 6rem;
  > .title {
    padding-bottom: 0.5rem;
  }
}

.director-info {
  display: flex;
  > .info {
    margin-left: 1rem;
    font-size: 15px;
    font-weight: 600;
    > .job {
      font-size: 13px;
      font-weight: 300;
    }
  }
}

.company-info {
  margin-top: 1rem;
}

.img-avatar {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.contact-action {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  padding: 10px;
}

.contact {
  display: none;
  @include medium {
    display: block;
  }
}

.link-action {
  // display: flex;
  // align-items: center;
  // margin-right: 20px;
  // color: color(black);
  text-decoration: none;
}

.see-allbutton {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.footer-container {
  background-color: #001E4E;
  min-height: 300px;
}
